.broadcast-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.live-dot {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

/* VIDEO SECTION */
.video-container {
  position: relative;
  width: 100%;
  max-width: 850px;
  padding-bottom: 30%;
  height: 0;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid #ffbd59;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* COUNTDOWN */
.countdown-section {
  margin-top: 25px;
}

.countdown-title {
  font-size: 1.2rem;
  margin-bottom: 16px;
  color: #ffbd59;
}

.countdown-box {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.count-item {
  background: #eee8e011;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #ffbd59;
  min-width: 80px;
}

.count-item span {
  display: block;
  font-size: 32px;
  font-weight: bold;
  color: #ffbd59;
}

.count-item small {
  opacity: 0.8;
}

/* Replay Section */
.replay-box {
  margin-top: 35px;
}

.replay-btn {
  /* display: inline-block; */
  margin-top: 10px;
  padding: 10px 18px;
  background: #ffbd59;
  color: #000b29;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.replay-btn:hover {
  opacity: 0.9;
}

.coming-soon-text {
  font-size: 1.1rem;
  opacity: 0.8;
}



.broadcast-wrapper {
  background: #000b29;
  color: #ffffff;
  padding: 40px 20px;
  border-radius: 12px;
  margin-top: 30px;
  text-align: center;
}

/* Header */
.broadcast-header h2 {
  font-size: 25px;
  font-weight: 600;
}

.live-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.live-dot {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  animation: pulse 1.3s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.offline-sub {
  opacity: 0.7;
  margin-top: 5px;
}

/* Video Section */
/* .video-container {
  position: relative;
  width: 100%;
  max-width: 850px;
  height: 0;
  padding-bottom: 56.25%;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid #ffbd59;
} */

/* .video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} */

/* Countdown */
/* .countdown-section {
  margin-top: 25px;
}

.countdown-title {
  font-size: 1.2rem;
  margin-bottom: 16px;
  color: #ffbd59;
}

.countdown-box {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 20px;
}

.count-item {
  background: #eee8e011;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #ffbd59;
  min-width: 80px;
}

.count-item span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #ffbd59;
}

.count-item small {
  opacity: 0.8;
}

/* Replay Section */
/*.replay-box {
  margin-top: 20px;
}

.replay-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 18px;
  background: #ffbd59;
  color: #000b29;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.replay-btn:hover {
  opacity: 0.9;
} */

@media (max-width:768px) {
  .broadcast-header h2 {
    font-size: 21px;
  }

  .count-item {
    padding: 10px 15px;
  }

  .replay-box{
    margin-top: 20px;
  }
  .broadcast-wrapper{
    margin-top: 5px;
    border-radius: 0px;
  }
}