.event-highlight {
  background: var(--color-secondary);
  color: var(--color-primary);
  padding: 40px 20px;
  border-radius: 12px;
  margin: 30px auto;
  text-align: center;
  max-width: 900px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
}

/* Light glow effect */
.event-highlight::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -40px;
  width: 180px;
  height: 180px;
  background: #ffffff22;
  border-radius: 50%;
  filter: blur(20px);
}

.eh-content h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.eh-content p {
  font-size: 1.1rem;
  margin-bottom: 22px;
  opacity: 0.9;
}

.eh-btn {
  display: inline-block;
  padding: 12px 26px;
  border-radius: 8px;
  font-weight: 600;
  background: var(--color-primary);
  color: var(--color-light);
  text-decoration: none;
  transition: 0.2s ease;
  margin: 10px;
  cursor: pointer;
}

.eh-btn.register {
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.eh-btn:hover {
  background: #00123d;
}

.eh-btn.register:hover{
  color: var(--color-light);
}

@media (max-width:768px) {
  .event-highlight {
    margin: 0;
    border-radius: 0px;
  }

  .eh-content h2 {
    font-size: 24px;
  }
}