.events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 24px 0;
}

.event-card {
  background: var(--color-light);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #dbdbdb;
  font-size: 16px;
}

/* .event-card:hover {
  transform: translateY(-5px);
} */
.event-image {
  width: 100%;
  height: 250px;
  /* border: 1px solid gray; */
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.event-card p {
  display: flex;
  gap: 6px;
  align-items: center;
  margin: 8px 0;
}

.event-replay-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.event-replay-btn {
  display: inline-block;
  padding: 10px 18px;
  background: #ffbd59;
  color: #000b29;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 24px 0;
  }

  .event-card {
    font-size: 14px;
    width: 100%;
    max-width: 350px;
  }

  .event-card h3 {
    font-size: 16px;
    margin-bottom: 10px;

  }

  .event-card p {
    font-size: 14px;
    margin-bottom: 10px;

  }

  .event-image {
    width: 100%;
    height: 250px;
    /* border: 1px solid gray; */
  }

  .event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

}